.title {
  text-transform: uppercase;
  color: #42474a;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 133.188%;
}

.close-button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
