@mixin grid($padding: 2.57rem 1rem 2rem, $maxWidth: 1280px) {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: $padding;

  height: calc(100vh - 5.4375rem);

  display: flex;
  flex-direction: column;
}

@mixin button($type: 'filled') {
  border-radius: 0.1875rem;

  display: inline-flex;
  padding: 0.45rem 1.4375rem;

  font-style: normal;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;

  cursor: pointer;
  border: 2px solid #00585e;

  @if ($type == 'filled') {
    background: #00585e;
    color: #fff;

    &:disabled {
      cursor: not-allowed;
      background: #2b7d83;
    }
  }

  @if ($type == 'outlined') {
    background: transparent;
    color: #00585e;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
